md-toolbar(class="md-whiteframe-z2 md-default-theme" layout="column")
    h2(class="md-toolbar-tools")
        span Tableau de bord

md-content(class="md-padding")
    a(href="#/" ng-controller="DashboardCtrl")
        md-button(class="md-primary md-raised") Home