<div class="row wrapper border-bottom white-bg page-heading animated fadeInRight">
    <div class="col-lg-10">
        <h2>Vos projets</h2>
        <ol class="breadcrumb">
            <li>
                <a ui-sref="dashboard">Tableau de bord</a>
            </li>
            <li class="active">
                <strong>Vos projets</strong>
            </li>
            <!-- <li class="active">
                <strong>Basic Form</strong>
            </li> -->
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>