section(layout="column")
    md-toolbar(class="md-whiteframe-z2 md-default-theme")
      h2(class="md-toolbar-tools")
        span Home

    md-content(class="md-padding" layout="row")

        md-content(layout="column" flex="70")
            a(href="#dashboard" ng-controller="HomeCtrl")
                md-button(class="md-primary md-raised") Dashboard

        md-content(layout="column")
            form(style="padding: 20px;" role="form" ng-submit="submit()" ng-controller="RegistrationCtrl")
                h1 Inscription
                div(class="row")
                    md-text-float(label="Pseudo" ng-model="user.username")
                div(class="row")
                    md-text-float(label="Adresse email" ng-model="user.email")
                div(class="row")
                    md-text-float(label="Mot de passe" ng-model="user.plainPassword")

                md-button(class="md-primary md-raised" type="submit") Valider l'inscription
